/* mobile adaptation */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* all the content */
html {
  max-width: 3000px;
}

body {
  font-family: Arial;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
body::after {
  content: '';
  display: block;
  height: 200px;
}

div {
  overflow: auto;
}

/* Header */
header {
  height: 50px;
  background-color: #404040;
  box-shadow: 0 2px 6px #404040;
  position: relative;
}

div.banner {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

div ul.banner {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

div ul li.banner {
  display: inline-block;
  text-align: inherit;
}

div ul li a.banner {
  padding-left: 15px;
  padding-right: 15px;
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  font-variant: normal;
  text-transform: capitalize;
  display: block;
  line-height: 2;
  transition: color .2s ease-in, background .2s ease-in;
}

header span.logo {
  color: #ffffff;
  font-size: 30px;
  padding-left: 12px;
  position: absolute;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Making hovering great again */
a {
  color: inherit;
  text-decoration: none;
}

a:hover.banner {
  background-color: #ffffff;
  color: #333333
}

span:hover.logo {
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #1a8cff;
  cursor: default;
}

div:hover.message {
  box-shadow: 4px 4px 6px grey;
}

.footer a:hover {
  color: #ffffff;
}

/* Main title */
h1 {
  text-align: center;
  margin-top: 0;
  font-size: 50px;
}

span.logo {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 150px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #2b2b2b;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  transition: color .2s ease-in, text-shadow .2s ease-in;
}

/* Message welcoming newcomers */
.home {
  background-image: url('https://g.foolcdn.com/editorial/images/483225/graduation.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  padding-bottom: 35px;
  background-size: cover;
  z-index: 9;
  border-bottom: 2px solid #404040;
}

div.message {
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  position: relative;
  border: solid #404040;
  transition: box-shadow .2s ease-in;
  background: rgba(51, 51, 51, 0.3)
}

article.message {
  font-family: Arial;
  font-size: 25px;
  color: #404040;
  font-weight: 700;
  background: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  font-variant: normal;
  display: block;
  padding: 5px;
  margin: 5px;
  margin-left: 320px;
  border: #595959 1px;
  border-radius: 4px;
}

article span.message {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #1a8cff;
  font-weight: 700;
  text-decoration: none;
  font-variant: normal;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: default;
}

h1.title {
  text-align: center;
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 75px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #2b2b2b;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  margin-top: 25px;
  margin-bottom: 0;
}

#messagepic {
  height: 300px;
  width: 300px;
  float: left;
  padding: 10px;
  padding-right: 25px;
  display: block;
  margin: auto;
}

div.case {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width:auto;
  height:auto;
}

/* Slideshow */
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  height: 600px;
  margin: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  width: 100%;
  height: 600px;
  background-image: url(http://s1.1zoom.me/b5050/619/USA_Houses_San_Diego_496427_2048x1152.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* reviews from students */
.text p {
  text-align: center;
  margin-left:50px;
  margin-right:50px;
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color:black;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  margin-top: 25px;
  margin-bottom: 0;
  background: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  font-variant: normal;
  display: block;
  padding: 5px;
  border: #595959 1px;
  border-radius: 4px;
}

.text img {
  height:40%;
  width:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:25px;
}

/* Number text (1/3 etc) */
.numbertext {
  visibility: hidden;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* Showcase of GEB lives */
div.new {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url('https://www.interregeurope.eu/fileadmin/user_upload/tx_tevnewsevents/events/image_1549965518.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #404040;
  margin-top: 35px;
  margin: 20px;
  box-shadow: 2px 2px 6px grey;
}

/* managing the 3 div in the showcase */
div.inew {
  width: 400px;
  height: auto;
  background: rgba(51, 51, 51, 0.4);
  border: solid #595959;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

div.photo {
  width: 315px;
  height: 215px;
  margin: 20px;
  border: solid #d9d9d9;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.photo {
  height: 100%;
  width: 100%;
}

p.inew {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #1a8cff;
  font-weight: 700;
  text-decoration: none;
  font-variant: normal;
  text-align: center;
  margin: 10px;
  text-shadow: 2px 2px #404040;
}

img.logoshowcase {
  max-height: 80%;
  max-width: 80%;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p.startup {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 23px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-variant: normal;
  text-align: center;
  margin: 10px;
  background-color: rgba(51, 51, 51, 0.80);
  padding: 3px;
  box-shadow: 0 0 3px #ffffff;
  display: block;
  align-items: center;
}

/* Contact form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3399ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0066ff;
}

.form {
  display: inline-block;
  width: 100%;
}

div.precontainer {
  width: 450px;
  height: auto;
  padding: 3px;
  border: solid #404040;
  background: #ff0000;
  margin: 25px;
  display: block;
  float: left;
}

p.precontainer {
  font-family: Arial;
  font-size: 20px;
  color: #404040;
  font-weight: 700;
  text-decoration: none;
  font-variant: normal;
  padding: 5px;
  margin: 5px;
  margin-left: 175px;
  background: #f2f2f2;
  border: #595959 1px;
  border-radius: 4px;
}

#messagepic.precontainer {
  height: 150px;
  width: 150px;
  padding: 10px;
  padding-right: 25px;
}

.container {
  padding: 13px;
  display: block;
  width: 800px;
  margin: 25px;
  position: relative;
  padding-bottom: 1px;
}

p.container {
  margin-left: 0;
  margin-top: 0;
  word-wrap: break-word;
  font-family: Times;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
}

/* Discover lille div */
div.fr {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #404040;
  margin: 20px;
  box-shadow: 2px 2px 6px grey;
  width: auto;
  height: auto;
  vertical-align: middle;
}

#lille {
  background: url('https://hautsdefrance.cci.fr/content/uploads/sites/6/2016/12/une-ccigrandlille.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#univ {
  background: url('https://static1.squarespace.com/static/5565e723e4b03021a50af7c4/5c4ec8eac2241b81fc3c4915/5c4ec9b06d2a73c5a0574b73/1548667422622/luniversite-catholique-de-lille-img_6861.jpg?format=1500w');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#lille2 {
  background: url('https://www.wallpaperup.com/uploads/wallpapers/2018/01/11/1188211/3f083c5645a579118f9e4036955740b4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p.frd {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 35px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-variant: normal;
  text-shadow: 1px 1px 0px #2b2b2b;
  text-align: center;
  height:200px;
  width:300px;
  display: table-cell;
  vertical-align: middle;
}

div.frd {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}

/* Footer */
footer {
  overflow: auto;
  background: #404040;
  margin-top: 50px;
  bottom: 0;
  border-top: 2px solid #000000;
  box-shadow: 0 0 3px #f2f2f2;
  height: 200px;
  width: 100%;
  position:absolute;
}

div.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer ul {
  text-align: center;
  padding: 0;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #d9d9d9;
  font-weight: 500;
  text-decoration: none;
  font-variant: normal;
  text-transform: capitalize;
  display: block;
  color: #1a8cff;
}

.footer li {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: #d9d9d9;
  font-weight: 200;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  font-variant: normal;
  display: block;
  text-align: left;
}

.footer a {
  transition: color .05s ease-in;
}
